@model IEnumerable<OCMS03.Models.Content.Clinic>

    @{
        ViewData["Title"] = "FindClinic";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>FindClinic</h1>
                <br /><hr />
                <table id="example1" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ClinicName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddressLine1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AddressLine2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FaxNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Province)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClinicName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AddressLine1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AddressLine2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telephone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FaxNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City.CityId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Province.ProvinceId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

